@import '/src/assets/styles/variables';

.main_background {
  &__welcome {
    background: url('../assets/img/Forma_1.svg') left top no-repeat, url('../assets/img/Forma_2.svg') right 30% no-repeat, $blue;
    background-size: 295px, 64px;

    @media screen and (min-width: 768px) {
      background: url('../assets/img/Forma_1.svg') left top no-repeat, url('../assets/img/Forma_2.svg') right center no-repeat, $blue;
      background-size: 395px, 104px;
    }
  }

  &__default {
    background: url('../assets/img/Forma_1.svg') left top no-repeat, url('../assets/img/Forma_2_flip.svg') left center no-repeat, #fff;

    @media screen and (min-width: 768px) {
        background: url('../assets/img/Forma_1.svg') left top no-repeat, url('../assets/img/Forma_2.svg') right center no-repeat, url('../assets/img/Patas.png') right top no-repeat, #fff;
        background-size: 395px, 104px, 147px;   
    }
  }
}