@import 'src/assets/styles/variables';
@import 'src/assets/styles/breakpoints';

.home_title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    padding: 3rem;
    font-size: 1rem;
    font-weight: 400;
    color: $blue;
  }
}

.pets_list__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 3rem;
}